/* Add CSS Styling */
.pink-bg-normal{
    background-color: rgb(255, 192, 203);
    font-family: Verdana,DejaVu Sans,sans-serif;
}

.bigger-font{
    font-size: 24px;
}

#blue-big-font{
    color: blue;
    font-size: 36px;
}

#green-bg-bold{
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}